.write {
  margin-top: 4rem;
  padding-top: 4rem;
}
.writeImg {
  margin-left: 150px;
  width: 60vw;
  max-width: 700px;
  max-height: 340px;
  object-fit: cover;
  border-radius: 0.6rem;
}
.plus-logo {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(153, 149, 149);
  font-size: 20px;
}
.writeForm {
  position: relative;
}
.writeInput {
  padding: 1rem;
  border: none;
  font-size: 1.5rem;
  margin-left: 1rem;
  width: 60vw;
}
.writeInput:focus {
  outline: none;
}
.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}
.writeText {
  font-size: 1.4rem;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.2rem;
}
.writeSubmit {
   display: flex;
   margin-left: 60vw;
   color: aliceblue;
   margin-top: 1rem;
   padding-top: 0.8rem;
   padding-bottom: 0.8rem;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   border: none;
   border-radius: 0.4rem;
   background-color: teal;
   cursor: pointer;
}
@media screen and (max-width: 900px) {
  .writeFormGroup {
    margin-left: 10%;
  }
  .writeImg {
    margin-left: 10%;
  }
  .writeText {
    font-size: 1rem;
    letter-spacing: 0;
  }
}