.write {
  margin-top: 4rem;
  padding-top: 4rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.writeImg {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  max-width: 700px;
  max-height: 340px;
  object-fit: cover;
  border-radius: 0.6rem;
}
.writeForm {
  position: relative;
}
.writeInput {
  padding: 1rem;
  border: 2px solid gray;
  font-size: 1.5rem;
  border-radius: 1.6rem;
  width: 60vw;
}
.plus {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.writeIcon {
  border: 2px solid gray;
  border-radius: 50%;
  padding: 0.7rem;
  background-color: teal;
  color: aliceblue;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.writeIcon:hover {
  cursor: pointer;
}
.writeIcon:hover, .writeSubmit:hover {
  transition: all 1s;
  background-color: rgb(1, 80, 80);
}
.writeInput:focus {
  outline: none;
}
.writeFormGroup {
  margin-left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.writeText {
  font-size: 1.4rem;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
  height: 120px;
  margin-bottom: 0.4rem;
}
.writeSubmit {
   display: flex;
   margin-left: 60vw;
   color: aliceblue;
   margin-top: 1rem;
   padding-top: 0.8rem;
   padding-bottom: 0.8rem;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   border: none;
   border-radius: 0.4rem;
   background-color: teal;
   cursor: pointer;
   margin-bottom: 4rem;
}

@media screen and (max-width: 900px) {
  .writeText {
    font-size: 1rem;
    letter-spacing: 0;
  }
}