.singlePost {
  flex: 9;
  margin-top: 2rem;
}
.singlePostWrapper {
  padding: 0 1rem;
}
.singlePostImg {
  width: 100%;
  max-width: 550px;
  object-fit: cover;
  display: flex;
  margin: 0 auto;
  border-radius: 0.5rem;
}
.singlePostTitle {
  text-align: center;
  margin: 1rem;
  margin-left: 10%;
  font-family: 'Lora', serif;
  font-size: 1.9rem;
}
.singlePostEdit {
  float: right;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}
.singlePostIcon {
  margin-left: 0.5rem;
  cursor: pointer;
}
.singlePostIcon:first-child {
  color: rgba(0, 128, 128, 0.855);
}
.singlePostIcon:last-child {
  color: rgba(234, 67, 37, 0.806);
}
.singlePostInfo {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  color: #b39656;
  margin-top: 2rem;
}
.singlePostAutor {
  font-family: 'Times New Roman', serif;
}
.user {
  text-transform: uppercase;
}
.aut:hover {
  cursor: pointer;
}
.singlePostDate {
  font-family: 'Times New Roman', serif;
  font-weight: 600;
}
.singlePostDesc {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 1rem;
  text-align: justify;
  text-align: center;
  margin-bottom: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
  white-space: pre-wrap;
}
.singlePostDesc::first-letter {
  text-transform: uppercase;
  margin-left: 1.3rem;
  font-weight: 600;
  font-size: larger;
  letter-spacing: 0.1rem;
}
.singlePostDescInput {
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  width: 80%;
  justify-content: center;
  border-radius: 0.5rem;
  resize: vertical; /* Permet de redimensionner la hauteur du textarea uniquement verticalement */
  overflow-y: auto; /* Affiche une barre de défilement si nécessaire */
}
.singlePostTitleInput {
  padding: 0.8rem;
  margin: 2rem 0;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.inputs {
  width: 100%;
  display: flex;
  justify-content: center;
}
.singlePostButton {
  padding: 0.7rem 1rem;
  border-radius: 0.6rem;
  background-color: teal;
  border: none;
  color: aliceblue;
}
.singlePostButton:hover {
  transition: all 0.5s;
  background-color: rgb(2, 67, 67);
  cursor: pointer;
  box-shadow: 2px 2px 2px lightgray;
}
.btnBottom {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
input {
  font-family: 'Lora', serif;
}

@media screen and (max-width: 700px) {
.singlePostDesc {
  margin-left: 0;
  margin-right: 0;
}
}