.singlePost {
  flex: 8;
  margin-top: 4rem;
}
.singlePostWrapper {
  padding-left: 1.2rem;
}
.singlePostImg {
  width: 100%;
  max-width: 700px;
  object-fit: cover;
  display: flex;
  margin: 0 auto;
  border-radius: 0.5rem;
}
.singlePostTitle {
  text-align: center;
  margin: 1rem;
  font-family: 'Lora', serif;
  font-size: 1.9rem;
}
.singlePostEdit {
  float: right;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}
.singlePostIcon {
  margin-left: 0.5rem;
  cursor: pointer;
}
.singlePostIcon:first-child {
  color: rgba(0, 128, 128, 0.855);
}
.singlePostIcon:last-child {
  color: rgba(234, 67, 37, 0.806);
}
.singlePostInfo {
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #b39656;
}
.singlePostAutor {
  font-family: 'Times New Roman', serif;
}
.aut {
  text-transform: uppercase;
}
.aut:hover {
  cursor: pointer;
}
.singlePostDate {
  font-family: 'Times New Roman', serif;
  font-weight: 600;
}
.singlePostDesc {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 1rem;
  text-align: justify;
}
.singlePostDesc::first-letter {
  text-transform: uppercase;
  margin-left: 1.3rem;
  font-weight: 600;
  font-size: larger;
  letter-spacing: 0.1rem;
}