.header {
  margin-top: 40px;
  margin-bottom: 2rem;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  font-family: "Lora", serif;
  text-shadow: 2px 2px whitesmoke;
}
.headerTitles span {
  font-size: 1.6rem;
}
.headerTitleSm {
  font-size: 20px;
}
.headerTitles span:last-child {
  font-size: 4rem;
  position: absolute;
  margin-top: 2rem;
}
.headerImg {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-top: 3rem;
}